.main {
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(61, 0, 0, 0.4);
  background-color: red;
  border: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 8px 8px 0 rgba(85, 0, 0, 0.5);
}

.btn svg {
  color: #fff;
  font-size: 1.2rem;
}
