.main {
  display: flex;
  padding: 1rem;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collapsible__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
