.main {
  display: flex;
  padding: 1rem;
  flex-grow: 1;
}

.title {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collapsible__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.collapsible__link {
  padding: 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
}

.collapsible__link a {
  color: rgb(0, 157, 255);
}

.add {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(61, 0, 0, 0.4);
  background-color: red;
  border: none;
}

.add:hover {
  cursor: pointer;
  box-shadow: 0 8px 8px 0 rgba(85, 0, 0, 0.5);
}

.add svg {
  color: #fff;
  font-size: 1.2rem;
}
