.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-grow: 1;
  padding-top: 5rem;
  min-height: 80vh;
}


@media screen and (max-width: 500px) {
  .content {
  padding-top: 3rem;
}

}
