.main {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.title {
  text-align: center;
  font-family: "Roboto";
  text-transform: capitalize;
}

.link {
  color: rgb(25, 97, 143);
  font-weight: bold;
  text-decoration: none;
}

.error {
  color: brown;
  font-size: 1.3rem;
  text-align: center;
}
