.main {
  padding: 0 1rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Roboto';
}

.error,
.success {
  color: rgb(189, 25, 25);
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
}

.success {
  color: rgb(84, 124, 24);
}
