.main {
  margin: 1rem 0;
  display: flex;
  border-radius: 5px;
}

.main.empty {
  border-bottom: 2px solid #f00;
}

.field {
  text-align: center;
  width: 100%;
  max-width: 30rem;
}

.label {
  padding: 0.5rem;
  color: #400;
  text-transform: capitalize;
  min-width: 14rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.fInput,
input {
  padding: 1rem;
  color: #ffbadc;
  display: block;
  width: 100%;
  box-shadow: 0 0 10px hsla(180, 100%, 8%, 1) inset;
  border: none;
  border-radius: 5px;
  background-color: #005e5e;
  font-size: 1rem;
  font-weight: 500;
}

.fInput::placeholder {
  color: #98c6e9;
}

.error {
  color: #f00;
  padding: .5rem;
  font-style: italic;
}

.empty > input {
  background-color: rgb(255, 221, 221);
  color: red;
}

.empty::placeholder {
  color: red;
}

.show_password_label {
  display: flex;
}

.btn {
  width: fit-content;
  margin: 1rem 0;
  padding: .5rem;
  color: aliceblue;
  font-weight: bold;
  font-size: 1rem;
  background-color: #400;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px hsla(180, 100%, 8%, 1);
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffbadc;
  color: #400;
}

.submit {
  float: right;
}

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
}

}